body {
  margin: 0;
  padding: 0
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.image {
    width:100vw;
    height: 100vh;
    background: green;
    background:  url("pexels_coffee_royaltyfree.jpeg");
    background-size: cover;
    max-width:100%;
}

.content {
  height: 400px;
  .color: red;
}

.menu
{
  position: absolute;
  font-size: 30px;

      left: 40%;
  text-align:center;
  margin:0px;
}

.small-text
{
  position: absolute;
  top: 30%;
  left: 20%;
  font-family: cursive;
  font-size: 75px;
}

.menu-right
{
  position: absolute;
  left: 50%;
  font-size: 30px;
}


.container{
  position: aboslute;
    width:40%;
    background:#000;
    text-align:center;
    margin:20px;
}


.text-menu{
    position: relative;
        left: 40%;
    text-align:center;
    margin:0px;

}
